table{
  border: 2px solid black;
  border-collapse: collapse;

  thead{
    background-color: gray;
  }
  tbody{
    tr:nth-child(even){
      background-color: #ccc;
    }
  }

  th{
    text-align: left;
    &:not(:last-child){
      border-right: 2px solid black;
    }
  }

  td{
    padding: 5px 0;
    &:not(:last-child){
      border-right: 2px solid black;
    }
  }

  th, td {
    padding-left: 2px;
    padding-right: 20px;
  }
}
